@using ReComp.Models;
@{
    ViewBag.Title = "Home Page";
}
<!--Main Banner Slider / Extended-->
<section class="main-banner-slider extended">
    <div class="slider-container">
        <div class="main-slider">
            <!--Side Item-->
            <div class="slide-item" style="background-image:url(/Public/images/main-slider/2.jpg);">
                <div class="overlay-layer"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <div class="bordered-layer"></div>
                        <h2>Modern Asset In Town</h2>
                        <div class="text-content">Sed ut perspiciatis unde omnis iste <br>natus error sit </div>
                        <a href="#" class="theme-btn btn-style-one">Explore more</a>
                    </div>
                    <!--Search Style One-->
                    <div class="search-style-one">
                        <div class="search-outer">
                            <div class="form-box search-form">
                                <form method="post" action="http://themexriver.com/shelter/property-grid.html">
                                    <div class="row clearfix">
                                        <!--Form Group-->
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-title">Select Your</div>
                                            <div class="field-inner">
                                                <select class="custom-select-box">
                                                    <option>Location</option>
                                                    <option>Australia</option>
                                                    <option>United States</option>
                                                    <option>Russia</option>
                                                    <option>France</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-title">Select Your</div>
                                            <div class="field-inner">
                                                <select class="custom-select-box">
                                                    <option>Min Area</option>
                                                    <option>1000 ft2</option>
                                                    <option>1500 ft2</option>
                                                    <option>2000 ft2</option>
                                                    <option>5000 ft2</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-title">Select Your</div>
                                            <div class="field-inner">
                                                <select class="custom-select-box">
                                                    <option>Budget</option>
                                                    <option>$10000 - $100,000</option>
                                                    <option>$100,000 - $1,000,000</option>
                                                    <option>$1,000,000 - $10,000,0000</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-title">&nbsp;</div>
                                            <div class="field-inner text-right"><button class="theme-btn btn-style-one"><span class="icon fa fa-search"></span>Search</button></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!--Search Style One-->
                </div>
            </div>
            <!--Side Item-->
            <div class="slide-item" style="background-image:url(/Public/images/main-slider/1.jpg);">
                <div class="overlay-layer"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <div class="bordered-layer"></div>
                        <h2>Modern Asset In Town</h2>
                        <div class="text-content">Sed ut perspiciatis unde omnis iste <br>natus error sit </div>
                        <a href="#" class="theme-btn btn-style-one">Explore more</a>
                    </div>
                    <!--Search Style One-->
                    <div class="search-style-one">
                        <div class="search-outer">
                            <div class="form-box search-form">
                                <form method="post" action="http://themexriver.com/shelter/property-grid.html">
                                    <div class="row clearfix">
                                        <!--Form Group-->
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-title">Select Your</div>
                                            <div class="field-inner">
                                                <select class="custom-select-box">
                                                    <option>Location</option>
                                                    <option>Australia</option>
                                                    <option>United States</option>
                                                    <option>Russia</option>
                                                    <option>France</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-title">Select Your</div>
                                            <div class="field-inner">
                                                <select class="custom-select-box">
                                                    <option>Min Area</option>
                                                    <option>1000 ft2</option>
                                                    <option>1500 ft2</option>
                                                    <option>2000 ft2</option>
                                                    <option>5000 ft2</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-title">Select Your</div>
                                            <div class="field-inner">
                                                <select class="custom-select-box">
                                                    <option>Budget</option>
                                                    <option>$10000 - $100,000</option>
                                                    <option>$100,000 - $1,000,000</option>
                                                    <option>$1,000,000 - $10,000,0000</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-title">&nbsp;</div>
                                            <div class="field-inner text-right"><button class="theme-btn btn-style-one"><span class="icon fa fa-search"></span>Search</button></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!--Search Style One-->
                </div>
            </div>
            <!--Side Item-->
            <div class="slide-item" style="background-image:url(/Public/images/main-slider/3.jpg);">
                <div class="overlay-layer"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <h2>Modern Asset In Town</h2>
                        <div class="text-content">Sed ut perspiciatis unde under business omnis iste <br>natus agent error sit </div>
                        <a href="#" class="theme-btn btn-style-one">Explore more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About Section-->
<section id="about-section" class="about-section extended" style="width:75%; margin:auto;">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Left Column-->
            <div class="left-column col-md-6 col-sm-12 col-xs-12">
                <div class="image-box">
                    <div class="image-outer">
                        <figure class="image"><img src="~/Public/images/resource/featured-image-16.jpg" alt=""></figure>
                    </div>
                </div>
                <div class="big-title"><h2>Best property</h2></div>
            </div><!--Left Column-->
            <!--Right Column-->
            <div class="right-column col-md-6 col-sm-12 col-xs-12">
                <!--Title Style One-->
                <div class="title-style-one extended left-aligned">
                    <div class="title"><h2>@ViewBag.About.Name</h2></div>
                    <div class="sub-title">@ViewBag.About.Tittle</div>
                </div>
                <div class="content">
                    <div class="text">@ViewBag.About.SubTittle</div>
                    <div class="row clearfix">
                        @for (var i = 0; i < ViewBag.AboutService.Count; i++)
                        {
                            AboutService ab = ViewBag.AboutService[i];
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <ul class="list-style-one">
                                    <li>@ab.Name</li>
                                </ul>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div><!--Right Column-->
    </div>
    </div>
</section>
<!--Default Section-->
<section class="default-section" style="width:75%; margin:auto;">
    <div class="auto-container">
        <!--Title Style One-->
        <div class="title-style-one right-aligned">
            <div class="title"><h2>Blog & Testimonial</h2></div>
            <div class="sub-title">We take a broader, more holistic all </div>
        </div>
        <div class="row clearfix">
            @for (var i = 0; i < ViewBag.Projects.Count; i++)
            {
                Project pr = ViewBag.Projects[i];
                Project_Photo ph = null;
                foreach (var prPh in ViewBag.ProjectPhoto)
                {
                    if (prPh.Project_İD == pr.İD)
                    {
                        ph = prPh;
                        break;
                    }
                }
              <div class="col-md-6 col-sm-12 col-xs-12" style="margin-top: 50px">
                <!--Blog Posts-->
                <div class="blog-posts">
                    <!--News Style One-->
                    <div class="news-style-one">
                        <div class="inner-box">

                            <div class="image-box"><figure class="image"><a href="blog-single.html"><img src="~/Public/images/resource/@ph.Link" alt=""></a></figure></div>
                            <div class="post-content">
                                <h4 class="post-info">@pr.Name, @pr.Year</h4>
                                <div class="text-content">@pr.Short_İnfo</div>
                                <div class="more-btn"><a href="blog-single.html">Read More</a></div>
                                <a href="blog-single.html" class="share-btn"><span class="flaticon-multimedia-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             }
        </div>

    </div>
</section>
<!--Properties Section-->
<section class="properties-section-two" style="width:75%; margin:auto;">
    <div class="auto-container">
        <!--Search Style One-->
        <div class="search-style-one extended">
            <div class="search-outer">
                <div class="form-box search-form">
                    <form method="post" action="http://themexriver.com/shelter/property-grid.html">
                        <div class="row clearfix">
                            <!--Form Group-->
                            <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                <div class="field-title">Select Your</div>
                                <div class="field-inner">
                                    <select class="custom-select-box">
                                        <option>Location</option>
                                        <option>Australia</option>
                                        <option>United States</option>
                                        <option>Russia</option>
                                        <option>France</option>
                                    </select>
                                </div>
                            </div>
                            <!--Form Group-->
                            <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                <div class="field-title">Select Your</div>
                                <div class="field-inner">
                                    <select class="custom-select-box">
                                        <option>Min Area</option>
                                        <option>1000 ft2</option>
                                        <option>1500 ft2</option>
                                        <option>2000 ft2</option>
                                        <option>5000 ft2</option>
                                    </select>
                                </div>
                            </div>
                            <!--Form Group-->
                            <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                <div class="field-title">Price</div>
                                <div class="field-inner">
                                    <select class="custom-select-box">
                                        <option>$1000 - 10,000</option>
                                        <option>$10,000 - $100,000</option>
                                        <option>$100,000 - $1,000,000</option>
                                        <option>$1,000,000 - $10,000,0000</option>
                                    </select>
                                </div>
                            </div>
                            <!--Form Group-->
                            <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                <div class="field-title">&nbsp;</div>
                                <div class="field-inner text-right"><button class="theme-btn btn-style-one"><span class="icon fa fa-search"></span>Search</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!--Search Style One-->
        <div class="search-title"><h3>Found 32 Properties for sell & rent</h3></div>
        <!--Gallery Controls-->
        <div class="gallery-controls clearfix">
            <!--Filter-->
            <div class="filters">
                <ul class="filter-tabs filter-btns clearfix">
                    <li class="active filter" data-role="button" data-filter="all">All </li>
                    @for (var i = 0; i < ViewBag.StickType.Count; i++)
                    {
                        <li class="filter" data-role="button" data-filter=".@ViewBag.StickType[i].Name">@ViewBag.StickType[i].Name </li>
                    }
                </ul>
            </div>
        </div>
        <div class="big-title"><h2>Sell & rent</h2></div>
        <div class="filter-list row clearfix">
            @for (var i = 0; i < ViewBag.Stickers.Count; i++)
            {
                Sticker st = ViewBag.Stickers[i];
                Stick_Photo Sph = null;
                for (var j = 0; j < ViewBag.SticPhoto.Count; j++)
                {
                    Stick_Photo StPh = ViewBag.SticPhoto[j];
                    if (StPh.Stick_İD == st.İD)
                    {
                        Sph = StPh;
                        break;
                    }
                }
                <!--Property Block-->
                <div class="property-block-grid col-lg-4 col-md-6 col-xs-12 mix mix_all @st.Stick_Type.Name">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="property-single.html"><img src="~/Public/images/resource/@Sph.Name" alt=""></a></figure>
                            <div class="ribbon">@st.Stick_Type.Name</div>
                            <a href="property-single.html" class="read-more-link">Read More</a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="property-single.html">@st.Name</a></h3>
                            <div class="price">@st.Price</div>
                            <div class="desc-text">@st.Short_info</div>
                            <!--Specs List-->
                            <ul class="specs-list clearfix">
                                <li><div class="outer"><div class="icon"><span class="fa fa-expand"></span></div><div class="info">@st.Area</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-bed"></span></div><div class="info">3 Bed</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="flaticon-shape"></span></div><div class="info">2 Bath</div></div></li>
                                @if ((bool)st.GarageStatus)
                                {
                                    <li><div class="outer"><div class="icon"><span class="fa fa-car"></span></div><div class="info">Var</div></div></li>}
                                else
                                {
                                    <li><div class="outer"><div class="icon"><span class="fa fa-car"></span></div><div class="info">Yoxdur</div></div></li>}
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Styled Pagination -->
        <div class="styled-pagination text-center">
            <ul>
                <li><a class="prev" href="#"><span class="fa fa-angle-double-left"></span></a></li>
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a class="next" href="#"><span class="fa fa-angle-double-right"></span></a></li>
            </ul>
        </div>
    </div>
</section>

<!--Subscribe Bar / Style Two-->
<section class="subscribe-bar style-two" style="width:75%; margin:auto;">
    <div class="info-box">Open: Sat-Sun 10.00am-8.00pm</div>
    <div class="auto-container">
        <div class="clearfix">
            <div class="subscribe-title">Subscribe our Newsletter!</div>
            <div class="subscribe-link"><a href="contact.html" class="theme-btn subscribe-btn"><span class="fa fa-paper-plane"></span> Subscribe Now</a></div>
        </div>
    </div>
</section>