@using ReComp.Models;
@{
    ViewBag.Title = "Projects";
}


<section class="main-banner-slider extended">
    <div class="slider-container">
        <div class="main-slider">
            <!--Side Item-->
            <div class="slide-item" style="background-image:url(/Public/images/main-slider/2.jpg);">
                <div class="overlay-layer"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <div class="bordered-layer"></div>
                        <h2>Modern Asset In Town</h2>
                        <div class="text-content">Sed ut perspiciatis unde omnis iste <br>natus error sit </div>
                        <a href="#" class="theme-btn btn-style-one">Explore more</a>
                    </div>
                    <!--Search Style One-->
                    <div class="search-style-one">
                        <div class="search-outer">
                            <div class="form-box search-form">
                                <form method="post" action="http://themexriver.com/shelter/property-grid.html">
                                    <div class="row clearfix">
                                        <!--Form Group-->
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-title">Select Your</div>
                                            <div class="field-inner">
                                                <select class="custom-select-box">
                                                    <option>Location</option>
                                                    <option>Australia</option>
                                                    <option>United States</option>
                                                    <option>Russia</option>
                                                    <option>France</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-title">Select Your</div>
                                            <div class="field-inner">
                                                <select class="custom-select-box">
                                                    <option>Min Area</option>
                                                    <option>1000 ft2</option>
                                                    <option>1500 ft2</option>
                                                    <option>2000 ft2</option>
                                                    <option>5000 ft2</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-title">Select Your</div>
                                            <div class="field-inner">
                                                <select class="custom-select-box">
                                                    <option>Budget</option>
                                                    <option>$10000 - $100,000</option>
                                                    <option>$100,000 - $1,000,000</option>
                                                    <option>$1,000,000 - $10,000,0000</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-title">&nbsp;</div>
                                            <div class="field-inner text-right"><button class="theme-btn btn-style-one"><span class="icon fa fa-search"></span>Search</button></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!--Search Style One-->
                </div>
            </div>
            <!--Side Item-->
            <div class="slide-item" style="background-image:url(/Public/images/main-slider/1.jpg);">
                <div class="overlay-layer"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <div class="bordered-layer"></div>
                        <h2>Modern Asset In Town</h2>
                        <div class="text-content">Sed ut perspiciatis unde omnis iste <br>natus error sit </div>
                        <a href="#" class="theme-btn btn-style-one">Explore more</a>
                    </div>
                    <!--Search Style One-->
                    <div class="search-style-one">
                        <div class="search-outer">
                            <div class="form-box search-form">
                                <form method="post" action="http://themexriver.com/shelter/property-grid.html">
                                    <div class="row clearfix">
                                        <!--Form Group-->
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-title">Select Your</div>
                                            <div class="field-inner">
                                                <select class="custom-select-box">
                                                    <option>Location</option>
                                                    <option>Australia</option>
                                                    <option>United States</option>
                                                    <option>Russia</option>
                                                    <option>France</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-title">Select Your</div>
                                            <div class="field-inner">
                                                <select class="custom-select-box">
                                                    <option>Min Area</option>
                                                    <option>1000 ft2</option>
                                                    <option>1500 ft2</option>
                                                    <option>2000 ft2</option>
                                                    <option>5000 ft2</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-title">Select Your</div>
                                            <div class="field-inner">
                                                <select class="custom-select-box">
                                                    <option>Budget</option>
                                                    <option>$10000 - $100,000</option>
                                                    <option>$100,000 - $1,000,000</option>
                                                    <option>$1,000,000 - $10,000,0000</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Form Group-->
                                        <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                            <div class="field-title">&nbsp;</div>
                                            <div class="field-inner text-right"><button class="theme-btn btn-style-one"><span class="icon fa fa-search"></span>Search</button></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!--Search Style One-->
                </div>
            </div>
            <!--Side Item-->
            <div class="slide-item" style="background-image:url(/Public/images/main-slider/3.jpg);">
                <div class="overlay-layer"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <h2>Modern Asset In Town</h2>
                        <div class="text-content">Sed ut perspiciatis unde under business omnis iste <br>natus agent error sit </div>
                        <a href="#" class="theme-btn btn-style-one">Explore more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@foreach (Project proyekt in ViewBag.Projects)
{
    if (proyekt.Status == true) { 
    <section class="property-info-section" style="width:75%; margin:auto;">
        <div class="auto-container">

            <div class="row clearfix">
                <!--Left Column-->
                <div class="left-column col-md-6 col-sm-12 col-xs-12">
                    <!--Product Carousel-->
                    <div class="product-carousel-outer">
                        <!--Product image Carousel-->
                        <ul class="prod-image-carousel">
                            @foreach (Project_Photo ProPhoto in ViewBag.ProjectPhoto)
                            {
                                if (ProPhoto.Project_İD == proyekt.İD)
                                {
                                    <li><figure class="image"><a class="lightbox-image option-btn" data-fancybox-group="example-gallery" href="@ProPhoto.Link" title="Image Title Here"><img src="@ProPhoto.Link" alt=""></a></figure></li>
                                }
                            }

                        </ul>

                        <!--Product Thumbs Carousel-->
                        <div class="prod-thumbs-carousel">
                            @foreach (Project_Photo ProPhoto in ViewBag.ProjectPhoto)
    {
        if (ProPhoto.Project_İD == proyekt.İD)
        {
                        <div class="thumb-item"><figure class="thumb-box"><img src="@ProPhoto.Link" alt=""></figure></div>

}
}
                        </div>

                    </div><!--End Product Carousel-->
                </div><!--Left Column-->
                <!--Right Column-->
                <div class="right-column col-md-6 col-sm-12 col-xs-12">
                    <!--Title Style One-->
                    <div class="title-style-one extended left-aligned">
                        <div class="title"><h2>@proyekt.Name</h2></div>
                        <div class="sub-title">@proyekt.Short_İnfo </div>
                    </div>

                    <div class="content">
                        <div class="text">@proyekt.Long_İnfo</div>
                        
                        <div class="row clearfix">
                            @foreach (Project_sevices service in ViewBag.ProjectService)
                            {
                                if (service.Project_Id == proyekt.İD) {
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <ul class="list-style-one">
                                <li>@service.Name</li>
                            </ul>
                        </div>
                                }
                            }
                        </div>
                        <div class="big-title"><h2>@proyekt.Name</h2></div>

                        <div class="links">
                            <a href="#" class="theme-btn btn-style-two"><span class="fa fa-paper-plane"></span>&ensp; Book Now</a>
                        </div>
                    </div>
                </div><!--Right Column-->
            </div>

        </div>
    </section>
    }
 }


