@model ReComp.Areas.Admin.Controllers.ViewModelStick
@using ReComp.Models


@{
    ViewBag.Title = "Room";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Service</h2>

<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Sticker Rooms</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TheSticker.İD)
        <div class="form-group">
            @Html.LabelFor(model => model.TheRoom.Area, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.TheProject_Service.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TheProject_Service.Name, "", new { @class = "text-danger" })*@
                <input name="roomName" />

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TheRoom_Type.İD, "Type_İD", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="ro">
                        @foreach (var ro in Model.RRoom_Type)
                    {
                            <option selected value="@ro.İD">
                                @ro.Name
                            </option>
                    }
                    </select>
               
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create Service" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
        <a class="button" href="~/Admin/Room/CreateEditRoomType">Otaq tipi elave et</a>

</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>