@using ReComp.Models
@model ReComp.Areas.Admin.Controllers.ViewModelAbout

@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="container">
    <h1 class="h3 glyphicon-blackboard">
        @Html.DisplayNameFor(model => model.TheAboutU.Name)
    </h1>
    <p>
        @Html.DisplayFor(model => model.TheAboutU.Name)
    </p>
    <h1 class="h3 glyphicon-blackboard">
        @Html.DisplayNameFor(model => model.TheAboutU.Tittle)
    </h1>
    <p>
        @Html.DisplayFor(model => model.TheAboutU.Tittle)
    </p>
    <h1 class="h3 glyphicon-blackboard">
        @Html.DisplayNameFor(model => model.TheAboutU.SubTittle)
    </h1>
    <p>
        @Html.DisplayFor(model => model.TheAboutU.SubTittle)
    </p>

    @Html.LabelFor(model => model.TheAboutService.Name, "Xidmətlərimiz:", htmlAttributes: new { @class = "control-label col-md-2" })
    <br />
    <br />
    <div class="col-md-10">
        @foreach (var item in Model.AAboutService)
        {
            <p>@item.Name</p>
        }
        @*<p class="container ">
                @Html.ActionLink("Yeni Xidmət Əlavə Etmək", "Create")
            </p>
            <h1 class="h3 glyphicon-blackboard">
                    Xidmətlərimiz
                </h1>
                @foreach (var item in Model.AAboutService)
                {

                    <p>
                        @Html.DisplayFor(modelItem => item.Name) @Html.ActionLink("Delete", "Delete", new { id = item.İD })
                    </p>
                }*@
        <p class="container">
            @Html.ActionLink("Edit", "Edit", new { id = Model.TheAboutU.İD })
        </p>

        <br />

        <a class="container" href="~/Admin/Panel/ViewPanel">Geri qayit</a>


    </div>
    </div>