@using ReComp.Models;
@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Preloader -->
<div class="preloader"></div>

<!--Property Info Section-->
<section class="property-info-section" style="width:75%; margin:auto;">
    <div class="auto-container">

        <div class="row clearfix">
            <!--Left Column-->
            <div class="left-column col-md-6 col-sm-12 col-xs-12">
                <!--Product Carousel-->
                <div class="product-carousel-outer">
                    <!--Product image Carousel-->
                    <ul class="prod-image-carousel">
                        @foreach (Stick_Photo photo in ViewBag.sticphoto)
                        {
                            <li><figure class="image"><a class="lightbox-image option-btn" data-fancybox-group="example-gallery" href="@photo.Name" title="Image Title Here"><img src="@photo.Name" alt=""></a></figure></li>
                        }
                    </ul>

                    <!--Product Thumbs Carousel-->
                    <div class="prod-thumbs-carousel">
                        @foreach (Stick_Photo photo in ViewBag.sticphoto)
                        {
                            <div class="thumb-item"><figure class="thumb-box"><img src="@photo.Name" alt=""></figure></div>
                        }
                    </div>

                </div><!--End Product Carousel-->
            </div><!--Left Column-->
            <!--Right Column-->
            <div class="right-column col-md-6 col-sm-12 col-xs-12">
                <!--Title Style One-->
                <div class="title-style-one extended left-aligned">
                    <div class="title"><h2>@ViewBag.sticker.Name</h2></div>
                </div>

                <div class="content">
                    <div class="text">@ViewBag.sticker.Short_info</div>

                    <div class="row clearfix">
                        <p>@ViewBag.sticker.Long_Info</p>
                    </div>


                </div>
            </div><!--Right Column-->
        </div>

    </div>
</section>

<!--Floor Planning-->
<section class="floor-planning no-padding-top no-border" style="width:75%; margin:auto;">
    <div class="auto-container">

        <!--Tabs Box-->
        <div class="tabs-box">
            <div class="row clearfix">
                <!--Left Column-->
                <div class="left-column col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <div class="inner">
                        <!--Tab Buttons-->
                        <div class="tab-buttons">
                            @foreach (Room_Type rmtype in ViewBag.roomtype) {

                            <div class="tab-btn" data-tab="#@rmtype.Name ">
                                <div class="btn-title"><span>@rmtype.Name</span></div>
                                <ul class="styled-list-two">
                                    @foreach (Room rm in ViewBag.rooms) {

                                        if (rm.Stick_İD == ViewBag.sticker.İD && rm.Type_İD == rmtype.İD) {
                                            <li>Sahəsi: @rm.Area kv.m</li>
                                        }
                                    }
                                </ul>
                                
                            </div>
                            }

                            <!-- <div class="tab-btn" data-tab="#swimming-pool">
                                <div class="btn-title"><span>Swimming</span> Pool</div>
                            </div> -->

                        </div>

                        <!--Thumbs-->
                        <div class="thumbs">
                            @if (ViewBag.sxem != null) {
                                foreach (Stick_sxem sxem in ViewBag.sxem) {
                                    <figure class="thumb"><img src="@sxem.Name " alt=""></figure>
                                }
                            }
                            
                        </div>
                    </div>
                </div>

                <!--Right Column-->
                <div class="right-column col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <div class="tabs-content">
                        <!--Tab / Active Tab-->
                        <div class="tab active-tab" id="kitchen">
                            <h2 class="title">Certiyojlar</h2>
                            <figure class="image-box"><img src="@ViewBag.sxem(0).Name" alt=""></figure>
                            <!--Specs Listing-->
                            <div class="specs-listing">
                                <div class="row clearfix">
                                    <!--Spect COlumn-->
                                    <div class="spec-column col-md-4 col-sm-4 col-xs-12">
                                        <h3><span class="icon flaticon-double-king-size-bed"></span> Bedrooms</h3>
                                        <ul>
                                            <li><strong>3</strong> Double Bedrooms</li>
                                            <li><strong>3</strong> Single Bed Rooms</li>
                                        </ul>
                                    </div>
                                    <!--Spect COlumn-->
                                    <div class="spec-column col-md-4 col-sm-4 col-xs-12">
                                        <h3><span class="icon flaticon-bathtub"></span> Bathrooms</h3>
                                        <ul>
                                            <li><strong>3</strong> Double Bedrooms</li>
                                            <li><strong>3</strong> Single Bed Rooms</li>
                                        </ul>
                                    </div>
                                    <!--Spect COlumn-->
                                    <div class="spec-column col-md-4 col-sm-4 col-xs-12">
                                        <h3><span class="icon fa fa-car"></span> Garage / Parking</h3>
                                        <ul>
                                            <li>Street parking</li>
                                            <li><strong>Non</strong> Street Parking</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--End Specs Listing-->

                        </div>

                        <!--Tab -->
                        <div class="tab" id="second-floor">
                            <h2 class="title">2nd Floor</h2>
                            <figure class="image-box"><img src="images/resource/featured-image-6.jpg" alt=""></figure>
                            <!--Specs Listing-->
                            <div class="specs-listing">
                                <div class="row clearfix">
                                    <!--Spect COlumn-->
                                    <div class="spec-column col-md-4 col-sm-4 col-xs-12">
                                        <h3><span class="icon flaticon-double-king-size-bed"></span> Bedrooms</h3>
                                        <ul>
                                            <li><strong>3</strong> Double Bedrooms</li>
                                            <li><strong>3</strong> Single Bed Rooms</li>
                                        </ul>
                                    </div>
                                    <!--Spect COlumn-->
                                    <div class="spec-column col-md-4 col-sm-4 col-xs-12">
                                        <h3><span class="icon flaticon-bathtub"></span> Bathrooms</h3>
                                        <ul>
                                            <li><strong>3</strong> Double Bedrooms</li>
                                            <li><strong>3</strong> Single Bed Rooms</li>
                                        </ul>
                                    </div>
                                    <!--Spect COlumn-->
                                    <div class="spec-column col-md-4 col-sm-4 col-xs-12">
                                        <h3><span class="icon fa fa-car"></span> Garage / Parking</h3>
                                        <ul>
                                            <li>Street parking</li>
                                            <li><strong>Non</strong> Street Parking</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--End Specs Listing-->
                        </div>

                        <!--Tab -->
                        <div class="tab" id="ground-floor">
                            <h2 class="title">Ground Floor</h2>
                            <figure class="image-box"><img src="images/resource/featured-image-6.jpg" alt=""></figure>
                            <!--Specs Listing-->
                            <div class="specs-listing">
                                <div class="row clearfix">
                                    <!--Spect COlumn-->
                                    <div class="spec-column col-md-4 col-sm-4 col-xs-12">
                                        <h3><span class="icon flaticon-double-king-size-bed"></span> Bedrooms</h3>
                                        <ul>
                                            <li><strong>3</strong> Double Bedrooms</li>
                                            <li><strong>3</strong> Single Bed Rooms</li>
                                        </ul>
                                    </div>
                                    <!--Spect COlumn-->
                                    <div class="spec-column col-md-4 col-sm-4 col-xs-12">
                                        <h3><span class="icon flaticon-bathtub"></span> Bathrooms</h3>
                                        <ul>
                                            <li><strong>3</strong> Double Bedrooms</li>
                                            <li><strong>3</strong> Single Bed Rooms</li>
                                        </ul>
                                    </div>
                                    <!--Spect COlumn-->
                                    <div class="spec-column col-md-4 col-sm-4 col-xs-12">
                                        <h3><span class="icon fa fa-car"></span> Garage / Parking</h3>
                                        <ul>
                                            <li>Street parking</li>
                                            <li><strong>Non</strong> Street Parking</li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--End Specs Listing-->
                        </div>

                        <!--Tab -->
                        <div class="tab" id="exterior-room">
                            <h2 class="title">Exterior Room</h2>
                            <figure class="image-box"><img src="images/resource/featured-image-6.jpg" alt=""></figure>
                        </div>

                        <!--Tab -->
                        <div class="tab" id="car-garage">
                            <h2 class="title">Car Garage</h2>
                            <figure class="image-box"><img src="images/resource/featured-image-6.jpg" alt=""></figure>
                        </div>

                        <!--Tab -->
                        <div class="tab" id="swimming-pool">
                            <h2 class="title">Swimming Pool</h2>
                            <figure class="image-box"><img src="images/resource/featured-image-6.jpg" alt=""></figure>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>


<!--Properties Section-->
<section class="properties-section related-properties" style="width:75%; margin:auto;">
    <div class="auto-container">
        <!--Title Style One-->
        <div class="title-style-one extended right-aligned">
            <div class="title"><h2>Related Properties</h2></div>
            <div class="sub-title">We take a broader, more holistic all </div>
        </div>

        <!--Carousel-->
        <div class="properties-carousel three-items-carousel">
            <!--Slide Item-->
            <div class="slide-item">
                <!--Property Block-->
                <div class="property-block-grid">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="property-single.html"><img src="images/resource/featured-image-12.jpg" alt=""></a></figure>
                            <div class="ribbon">Sale</div>
                            <a href="property-single.html" class="read-more-link">Read More</a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="property-single.html">Sharif Paradise, Daulatpur Khulna</a></h3>
                            <div class="price">$52000</div>
                            <div class="desc-text">But I must explain to you how all this idea view policy. </div>
                            <!--Specs List-->
                            <ul class="specs-list clearfix">
                                <li><div class="outer"><div class="icon"><span class="fa fa-expand"></span></div><div class="info">1600 ft2</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-bed"></span></div><div class="info">3 Bed</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="flaticon-shape"></span></div><div class="info">2 Bath</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-car"></span></div><div class="info">Garage</div></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--Slide Item-->
            <div class="slide-item">
                <!--Property Block-->
                <div class="property-block-grid">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="property-single.html"><img src="images/resource/featured-image-13.jpg" alt=""></a></figure>
                            <div class="ribbon">Rent</div>
                            <a href="property-single.html" class="read-more-link">Read More</a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="property-single.html">Sharif Paradise, Daulatpur Khulna</a></h3>
                            <div class="price">$52000</div>
                            <div class="desc-text">But I must explain to you how all this idea view policy. </div>
                            <!--Specs List-->
                            <ul class="specs-list clearfix">
                                <li><div class="outer"><div class="icon"><span class="fa fa-expand"></span></div><div class="info">1600 ft2</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-bed"></span></div><div class="info">3 Bed</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="flaticon-shape"></span></div><div class="info">2 Bath</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-car"></span></div><div class="info">Garage</div></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--Slide Item-->
            <div class="slide-item">
                <!--Property Block-->
                <div class="property-block-grid">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="property-single.html"><img src="images/resource/featured-image-14.jpg" alt=""></a></figure>
                            <div class="ribbon">Sold</div>
                            <a href="property-single.html" class="read-more-link">Read More</a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="property-single.html">Sharif Paradise, Daulatpur Khulna</a></h3>
                            <div class="price">$52000</div>
                            <div class="desc-text">But I must explain to you how all this idea view policy. </div>
                            <!--Specs List-->
                            <ul class="specs-list clearfix">
                                <li><div class="outer"><div class="icon"><span class="fa fa-expand"></span></div><div class="info">1600 ft2</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-bed"></span></div><div class="info">3 Bed</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="flaticon-shape"></span></div><div class="info">2 Bath</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-car"></span></div><div class="info">Garage</div></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--Slide Item-->
            <div class="slide-item">
                <!--Property Block-->
                <div class="property-block-grid">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="property-single.html"><img src="images/resource/featured-image-12.jpg" alt=""></a></figure>
                            <div class="ribbon">Sale</div>
                            <a href="property-single.html" class="read-more-link">Read More</a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="property-single.html">Sharif Paradise, Daulatpur Khulna</a></h3>
                            <div class="price">$52000</div>
                            <div class="desc-text">But I must explain to you how all this idea view policy. </div>
                            <!--Specs List-->
                            <ul class="specs-list clearfix">
                                <li><div class="outer"><div class="icon"><span class="fa fa-expand"></span></div><div class="info">1600 ft2</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-bed"></span></div><div class="info">3 Bed</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="flaticon-shape"></span></div><div class="info">2 Bath</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-car"></span></div><div class="info">Garage</div></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--Slide Item-->
            <div class="slide-item">
                <!--Property Block-->
                <div class="property-block-grid">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="property-single.html"><img src="images/resource/featured-image-13.jpg" alt=""></a></figure>
                            <div class="ribbon">Rent</div>
                            <a href="property-single.html" class="read-more-link">Read More</a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="property-single.html">Sharif Paradise, Daulatpur Khulna</a></h3>
                            <div class="price">$52000</div>
                            <div class="desc-text">But I must explain to you how all this idea view policy. </div>
                            <!--Specs List-->
                            <ul class="specs-list clearfix">
                                <li><div class="outer"><div class="icon"><span class="fa fa-expand"></span></div><div class="info">1600 ft2</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-bed"></span></div><div class="info">3 Bed</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="flaticon-shape"></span></div><div class="info">2 Bath</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-car"></span></div><div class="info">Garage</div></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--Slide Item-->
            <div class="slide-item">
                <!--Property Block-->
                <div class="property-block-grid">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="property-single.html"><img src="images/resource/featured-image-14.jpg" alt=""></a></figure>
                            <div class="ribbon">Sold</div>
                            <a href="property-single.html" class="read-more-link">Read More</a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="property-single.html">Sharif Paradise, Daulatpur Khulna</a></h3>
                            <div class="price">$52000</div>
                            <div class="desc-text">But I must explain to you how all this idea view policy. </div>
                            <!--Specs List-->
                            <ul class="specs-list clearfix">
                                <li><div class="outer"><div class="icon"><span class="fa fa-expand"></span></div><div class="info">1600 ft2</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-bed"></span></div><div class="info">3 Bed</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="flaticon-shape"></span></div><div class="info">2 Bath</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-car"></span></div><div class="info">Garage</div></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--Slide Item-->
            <div class="slide-item">
                <!--Property Block-->
                <div class="property-block-grid">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="property-single.html"><img src="images/resource/featured-image-12.jpg" alt=""></a></figure>
                            <div class="ribbon">Sale</div>
                            <a href="property-single.html" class="read-more-link">Read More</a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="property-single.html">Sharif Paradise, Daulatpur Khulna</a></h3>
                            <div class="price">$52000</div>
                            <div class="desc-text">But I must explain to you how all this idea view policy. </div>
                            <!--Specs List-->
                            <ul class="specs-list clearfix">
                                <li><div class="outer"><div class="icon"><span class="fa fa-expand"></span></div><div class="info">1600 ft2</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-bed"></span></div><div class="info">3 Bed</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="flaticon-shape"></span></div><div class="info">2 Bath</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-car"></span></div><div class="info">Garage</div></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--Slide Item-->
            <div class="slide-item">
                <!--Property Block-->
                <div class="property-block-grid">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="property-single.html"><img src="images/resource/featured-image-13.jpg" alt=""></a></figure>
                            <div class="ribbon">Rent</div>
                            <a href="property-single.html" class="read-more-link">Read More</a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="property-single.html">Sharif Paradise, Daulatpur Khulna</a></h3>
                            <div class="price">$52000</div>
                            <div class="desc-text">But I must explain to you how all this idea view policy. </div>
                            <!--Specs List-->
                            <ul class="specs-list clearfix">
                                <li><div class="outer"><div class="icon"><span class="fa fa-expand"></span></div><div class="info">1600 ft2</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-bed"></span></div><div class="info">3 Bed</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="flaticon-shape"></span></div><div class="info">2 Bath</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-car"></span></div><div class="info">Garage</div></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--Slide Item-->
            <div class="slide-item">
                <!--Property Block-->
                <div class="property-block-grid">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="property-single.html"><img src="images/resource/featured-image-14.jpg" alt=""></a></figure>
                            <div class="ribbon">Sold</div>
                            <a href="property-single.html" class="read-more-link">Read More</a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="property-single.html">Sharif Paradise, Daulatpur Khulna</a></h3>
                            <div class="price">$52000</div>
                            <div class="desc-text">But I must explain to you how all this idea view policy. </div>
                            <!--Specs List-->
                            <ul class="specs-list clearfix">
                                <li><div class="outer"><div class="icon"><span class="fa fa-expand"></span></div><div class="info">1600 ft2</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-bed"></span></div><div class="info">3 Bed</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="flaticon-shape"></span></div><div class="info">2 Bath</div></div></li>
                                <li><div class="outer"><div class="icon"><span class="fa fa-car"></span></div><div class="info">Garage</div></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>



<!--Subscribe Bar / Style Two-->
<section class="subscribe-bar style-two" style="width:75%; margin:auto;">
    <div class="info-box">Open: Sat-Sun 10.00am-8.00pm</div>

    <div class="auto-container">
        <div class="clearfix">
            <div class="subscribe-title">Subscribe our Newsletter!</div>
            <div class="subscribe-link"><a href="contact.html" class="theme-btn subscribe-btn"><span class="fa fa-paper-plane"></span> Subscribe Now</a></div>
        </div>
    </div>
</section>





</div>
<!--End pagewrapper-->
<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-long-arrow-up"></span></div>

